.blinking-cursor, .greeting {
    font-family: 'Inconsolata', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background: #fff;
    background: radial-gradient(circle, #fff 0, #96acd2 100%);
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.greeting {
    text-align: center;
    padding-bottom: 1em;
    font-size: 3.5em;
    color: #000;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
}

.social a {
    font-size: 1.7em;
    margin: 0 .5em;
    text-decoration: none;
    color: #000;
    transition: 50ms ease-in;
}

.social a:hover {
    transform: scale(1.2);
}

.social a.fa-linkedin:hover {
    color: #006192;
}

.social a.fa-facebook:hover {
    color: #4267b2;
}

.social a.fa-twitter:hover {
    color: #1da1f2;
}

@keyframes hvr {
    0%, 100% {
        box-shadow: -2px 2px 0 0 #0a0a0a, -10px 10px 40px 0 rgba(0, 0, 0, .7);
        transform: translate(0, 0) rotateX(50deg) rotateZ(-20deg);
    }
    50% {
        transform: translate(0, -20px) rotateX(50deg) rotateZ(-20deg);
        box-shadow: -2px 1px 0 0 #0a0a0a, -40px 40px 40px 0 rgba(0, 0, 0, .5);
    }
}

.blinking-cursor {
    font-size: 1.3em;
    color: #2e3d48;
    animation: 1s step-end infinite blink;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #000;
    }
}
